# build/IDE
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.DS_Store

# publish artefacts
**/publish*/
**/*publish*/**
**/*.zip
**/*.rar
artifacts/
logs/
NUL
CollectedCs/
**/CollectedCs/
*/CollectedCs/