<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- RELATYWNY feed obok solution — zadziała wszędzie -->
    <add key="local" value="local-packages" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="Ogur.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
